p {
  color: powderblue;
}

 .blue-test{
  color: PaleVioletRed;
  background-color:

}

.first {
  color: red;
}

.second {blue;
  color:
}

.thid {green;
  color:
}

.done{
  text-decoration: line-through;
}

    #revised{
      text-decoration: none
    }
*{
  border: 2px solid black;
}
